@import "tailwindcss";

@theme {
  --color-primary-blue: #0430ca;
  --color-secondary-blue: #5872cf;
  --color-light-blue: #eef9ff;


  --font-sans: var(--font-inter);

  --font-mono: var(--font-ibm-plex-mono);

  --font-display: var(--font-epilogue);
}